<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/w3.css}">
    <link rel="stylesheet" th:href="@{/showroom.css}">
    <title>AB Architects Login</title>
</head>
<body>
<div th:replace="~{navbar}"></div>
<div class="w3-content w3-padding w3-card" style="max-width: 400px; margin-top: 100px;">
    <div class="w3-container w3-padding-32">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Login</h3>
        <div th:if="${errorMsg}" th:text="${errorMsg}" class="w3-text-red"></div>
        <form method="post" th:action="@{/login}">
            <p>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" th:value="${username}" class="w3-input w3-border fixed-input">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" th:value="${password}" class="w3-input w3-border fixed-input">
            </p>
            <div class="w3-center"><input type="submit" class="w3-button w3-black"></div>
        </form>
    </div>
</div>
</body>
</html>