<div class="w3-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button">
            <b>AB</b> Architects
        </a>
        <div class="w3-right">
            <a th:href="@{/#products}" class="w3-bar-item w3-button w3-hide-small">Products</a>
            <a th:href="@{/#about}" class="w3-bar-item w3-button w3-hide-small">About</a>
            <a th:href="${isUserLoggedIn} ? @{/logout} : @{/login}"
               th:text="${isUserLoggedIn} ? 'Logout' : 'Login'"
               class="w3-bar-item w3-button w3-text-red"></a>
        </div>
    </div>
</div>